---
layout: layouts/page.njk
title: Medlemskap
description: Arkivert informasjon om medlemskap i Risberget kulturhistoriske forening.
introduction: Ønsker du å bli medlem i Risberget kulturhistoriske forening?
permalink: /foreningen/medlemskap/
nav:
  parent: /foreningen/
  order: 3
breadcrumbs:
  - label: Foreningen
    url: /foreningen/
  - label: Medlemskap
---

<p>
100,- NOK per person årlig<br>
Til konto: <strong style="color: red;">1822.58.92896</strong><br>
Sparebank1 Østlandet<br>
</p>

<p>
  Merk betalingen med navn og oppgi navn, adresse og e-post til:<br>
  Styreleder Anne Grethe Risberg Vigeland,<br>
  E-post: annerisberg@hotmail.com
</p>
