---
layout: layouts/gallery.njk
title: Høst i Risbergsmarka
description: Høstbilder fra Risberget og omegn.
introduction: Høstfarger og landskap fra Risberget og områdene rundt.
permalink: /bilder/host/
nav:
  label: Høst
  parent: /bilder/
  order: 4
breadcrumbs:
  - label: Bilder
    url: /bilder/
  - label: Høst
images:
  - src: /assets/images/galleries/autumn/host-01.jpg
    alt: Rød solnedgang bak furutrær i Risbergsmarka.
    width: 1279
    height: 856
  - src: /assets/images/galleries/autumn/host-02.jpg
    alt: Høstmotiv fra Risberget og omegn.
    width: 270
    height: 202
  - src: /assets/images/galleries/autumn/host-03.jpg
    alt: Naturen om høsten i Risbergsmarka.
    width: 270
    height: 202
  - src: /assets/images/galleries/autumn/host-04.jpg
    alt: Høstfarger ved Risberget.
    width: 1280
    height: 850
  - src: /assets/images/galleries/autumn/host-05.jpg
    alt: Høyt høstmotiv fra Risberget og omegn.
    width: 856
    height: 1279
---
