---
layout: layouts/gallery.njk
title: Sommer i Risbergsmarka
description: Sommerbilder fra Risberget og omegn.
introduction: Natur og kulturlandskap i Risberget gjennom sommeren.
permalink: /bilder/sommer/
nav:
  label: Sommer
  parent: /bilder/
  order: 3
breadcrumbs:
  - label: Bilder
    url: /bilder/
  - label: Sommer
images:
  - src: /assets/images/galleries/summer/sommer-01.jpg
    alt: Elv med steiner omgitt av grønn skog i Risbergsmarka.
    width: 1280
    height: 850
  - src: /assets/images/galleries/summer/sommer-02.jpg
    alt: Sommermotiv fra Risberget og omegn.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-03.jpg
    alt: Naturen om sommeren i Risbergsmarka.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-04.jpg
    alt: Sommermotiv fra skogen ved Risberget.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-05.jpg
    alt: Landskap ved Risberget om sommeren.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-06.jpg
    alt: Sommer i Risberget og omegn.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-07.jpg
    alt: Naturmotiv fra Risbergsmarka om sommeren.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-08.jpg
    alt: Sommerstemning i Risbergsmarka.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-09.jpg
    alt: Sommermotiv fra området rundt Risberget.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-10.jpg
    alt: Kulturlandskap ved Risberget om sommeren.
    width: 720
    height: 481
  - src: /assets/images/galleries/summer/sommer-11.jpg
    alt: Skog og natur i Risberget om sommeren.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-12.jpg
    alt: Sommerlandskap fra Risbergsmarka.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-13.jpg
    alt: Naturmotiv fra Risberget i sommersesongen.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-14.jpg
    alt: Sommermotiv fra Finnskogen ved Risberget.
    width: 270
    height: 202
  - src: /assets/images/galleries/summer/sommer-15.jpg
    alt: Høyt sommermotiv fra Risberget og omegn.
    width: 856
    height: 1279
---
