---
layout: layouts/gallery.njk
title: Vår i Risbergsmarka
description: Vårbilder fra Risberget og omegn.
introduction: Vårtegn og landskap fra Risberget og områdene rundt.
permalink: /bilder/var/
nav:
  label: Vår
  parent: /bilder/
  order: 2
breadcrumbs:
  - label: Bilder
    url: /bilder/
  - label: Vår
images:
  - src: /assets/images/galleries/spring/var-01.jpg
    alt: Elg foran grantrær i Risbergsmarka.
    width: 1279
    height: 774
  - src: /assets/images/galleries/spring/var-02.jpg
    alt: Vårmotiv fra Risberget og omegn.
    width: 270
    height: 202
  - src: /assets/images/galleries/spring/var-03.jpg
    alt: Naturen om våren i Risbergsmarka.
    width: 270
    height: 202
  - src: /assets/images/galleries/spring/var-04.jpg
    alt: Vårmotiv fra skogen ved Risberget.
    width: 270
    height: 202
  - src: /assets/images/galleries/spring/var-05.jpg
    alt: Landskap ved Risberget om våren.
    width: 270
    height: 202
  - src: /assets/images/galleries/spring/var-06.jpg
    alt: Vår i Risberget og omegn.
    width: 1279
    height: 1007
  - src: /assets/images/galleries/spring/var-07.jpg
    alt: Naturmotiv fra Risbergsmarka om våren.
    width: 1280
    height: 1131
  - src: /assets/images/galleries/spring/var-08.jpg
    alt: Vårstemning i Risbergsmarka.
    width: 270
    height: 202
  - src: /assets/images/galleries/spring/var-09.jpg
    alt: Vårmotiv fra området rundt Risberget.
    width: 270
    height: 202
---
