---
layout: layouts/gallery.njk
title: Vinter i Risbergsmarka
description: Vinterbilder fra Risberget og omegn.
introduction: Et utvalg vinterbilder fra det arkiverte nettstedet.
permalink: /bilder/vinter/
nav:
  label: Vinter
  parent: /bilder/
  order: 1
breadcrumbs:
  - label: Bilder
    url: /bilder/
  - label: Vinter
images:
  - src: /assets/images/galleries/winter/vinter-01.jpg
    alt: Snødekt landskap i Risbergsmarka.
    width: 1279
    height: 797
  - src: /assets/images/galleries/winter/vinter-02.jpg
    alt: Vintermotiv fra skogen ved Risberget.
    width: 1280
    height: 960
  - src: /assets/images/galleries/winter/vinter-03.jpg
    alt: Solnedgang og snø mellom trærne i Risbergsmarka.
    width: 1279
    height: 847
  - src: /assets/images/galleries/winter/vinter-04.jpg
    alt: Ugle i toppen av et tre.
    width: 1280
    height: 809
  - src: /assets/images/galleries/winter/vinter-05.jpg
    alt: Skog og snø i vinterlys.
    width: 1280
    height: 850
  - src: /assets/images/galleries/winter/vinter-06.jpg
    alt: Rød hytte med menneske foran.
    width: 1280
    height: 720
---
