---
layout: layouts/gallery.njk
title: Minneparken i Risberget
description: Bilder fra minneparken i Risberget.
introduction: Minneparken markerer bosettingshistorien i Risberget med et klokketårn, steiner og informasjonsskilt.
permalink: /historie/minnepark/
nav:
  label: Minneparken
  parent: /historie/
  order: 6
breadcrumbs:
  - label: Historie og kultur
    url: /historie/
  - label: Minneparken
images:
  - src: /assets/images/history/minnepark-01.jpg
    alt: Oversikt over minneparken med klokketårn, steiner og skigard.
    width: 2500
    height: 1875
  - src: /assets/images/history/minnepark-02.jpg
    alt: Motiv fra minneparken i Risberget.
    width: 2500
    height: 1875
  - src: /assets/images/history/minnepark-03.jpg
    alt: Minneplate for Bølla 1768, Ole Bergersen og Marit Pedersdatter.
    width: 2500
    height: 1875
  - src: /assets/images/history/minnepark-04.jpg
    alt: Historisk informasjonsskilt i minneparken.
    width: 2500
    height: 1875
  - src: /assets/images/history/minnepark-05.jpg
    alt: Minnestein med navneplate i minneparken.
    width: 2500
    height: 1875
  - src: /assets/images/history/minnepark-06.jpg
    alt: Rekke med minnesteiner i Risberget minnepark.
    width: 2500
    height: 1875
  - src: /assets/images/history/minnepark-07.jpg
    alt: Informasjonstavle ved minneparken.
    width: 2500
    height: 1875
  - src: /assets/images/history/minnepark-08.jpg
    alt: Skilt om rydnings- og bygslingstiden 1720-1800.
    width: 2500
    height: 1875
  - src: /assets/images/history/minnepark-09.jpg
    alt: Historisk skilt montert på en stein i minneparken.
    width: 2500
    height: 1875
  - src: /assets/images/history/minnepark-10.jpg
    alt: Detalj fra minneparken i Risberget.
    width: 2500
    height: 1875
---
